<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="./src/style.css" />
</head>

<body>
    <div id="wrapper">
        <div id="buscas">
            <div id="dfs" v-bind:class="{'expand': busca[0]}"><span>DFS</span></div>
            <div id="bfs" v-bind:class="{'expand': busca[1]}"><span>BFS</span></div>
            <div id="greedy" v-bind:class="{'expand': busca[2]}"><img src="./assets/greedy.svg"></div>
            <div id="aestrela" v-bind:class="{'expand': busca[3]}"><span>A*</span></div>
        </div>
        <div id="main">
            <div class="log flt" id="log1">
                <div id="slog1"></div>
            </div>
            <div id="container" class="flt">
                <div v-for="item in itens" v-bind:class="item.class" v-bind:id="item.id" v-bind:number="item.value">
                    {{ item.text }}
                </div>
            </div>
            <div class="log flt" id="log2">
                <div id="slog2"></div>
            </div>
            <div id="input_grid">
                <div class="container">
                <div id="grid">
                    <div v-for="inn in itens_input" v-bind:class="inn.class" v-bind:id="inn.id">
                        <input type="text" v-bind:name='inn.id' pattern="[0-9]" maxlength="1">
                    </div>
                </div>
                <div class="in_ops" id="ok_input">OK</div>
                <div class="in_ops" id="cancel">CANCELAR</div>                
            </div>
            </div>
        </div>
        <div id="options">
            <div class="sop">
                <div id="input"><img src="./assets/in.svg"></div><span>Input</span></div>
            <div class="sop">
                <div id="reset"><img src="./assets/reset.svg"></div><span>Reset</span></div>
            <div class="sop">
                <div id="next"><img src="./assets/next.svg"></div><span>Next</span></div>
            <div class="sop">
                <div id="play"><img src="./assets/play.svg"></div><span>Play</span></div>
        </div>
    </div>
</body>
<script src="./src/vue.js"></script>
<script src="./src/ia_pq.js"></script>
<script src="./src/ia_lib.js"></script>
<script>
    // ANIMAÇÃO ===================================================
    window.animationFrame = (function () {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function (callback, element) {
                window.setTimeout(callback, 1000 / 60);
            };
    })();

    window.cancelAnimation = (function () {
        return window.cancelAnimationFrame ||
            window.mozCancelAnimationFrame;
    })();

    var anim = null;

    const INITIAL_TX = 0.3332;
    const ATTRIBS = [
        ["top", 1],
        ["left", 1],
        ["top", -1],
        ["left", -1]
    ];

    function move(num_a, num_b, code_move, tx, cont, next_step = true) {
        var item_1 = SQ.get('' + num_a); // ZERO
        var item_2 = SQ.get('' + num_b);

        var attrib = ATTRIBS[code_move];

        item_1[attrib[0]] -= (tx * attrib[1]);
        item_2[attrib[0]] += (tx * attrib[1]);

        item_1.obj.style[attrib[0]] = item_1[attrib[0]] + "%";
        item_2.obj.style[attrib[0]] = item_2[attrib[0]] + "%";

        if (cont > 11) {
            cancelAnimation(anim);
            if (next_step == true) start();
        } else animationFrame(
            function () {
                move(num_a, num_b, code_move, 3, cont + 1, next_step);
            }
        );
    }

    // Array inicial
    var arr_inicial = [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 0]
    ];
    var CopyArr = (x => x.map(function (i) {
        return i.slice();
    }));
    // Estado inicial
    var state = new State(CopyArr(arr_inicial));

    var itens = [], itens_input = [], num;
    for (var i = 0; i < 9; i++) {
        itens_input.push({class: 'grid_input', id: 'in_'+i});

        num = num_ = state.arr[Math.floor(i / 3)][i % 3];
        var add = '';
        if (num == 0) {
            num_ = '';
            add = 'zero';
        }
        itens.push({
            text: num_ + '',
            id: 'sq_' + i,
            value: num,
            class: 'wid ' + add
        });
    }

   var obs_vue =  new Vue({
        el: "#container",
        data: {
            itens: itens
        }
    });

    new Vue({
        el: "#grid",
        data: {
            itens_input: itens_input
        }
    }); 
    // Lista dos elementos dos quadradinhos
    var SQ = new Map(),
        elem;
    for (var i = 0; i < 9; i++) {
        elem = document.getElementById("sq_" + i);
        SQ.set(elem.getAttribute('number'), {
            obj: elem,
            left: 0,
            top: 0
        });
    }
    var busca_bool = [false, false, false, true];
    var busca_vue = new Vue({
        el: "#buscas",
        data: {
            busca: busca_bool
        }
    })

    var queue = [];

    function start(next_step = true) {
        if (queue.length == 0) {
            // var aud = new Audio("./acabou.mp3");
            // aud.play();
            return;
        }
        var sm = queue[0];
        queue = queue.splice(1, queue.length);
        anim = animationFrame(function () {
            move(0, sm.digit, sm.code, INITIAL_TX, 1, next_step);
        });
    }

    var number_search = 3;

    var button_start = document.getElementById('play');
    var button_reset = document.getElementById('reset');
    var button_next = document.getElementById('next');
    var button_input = document.getElementById('input');
    var button_ok = document.getElementById('ok_input');
    var button_cancel = document.getElementById('cancel');

    var button_dfs = document.getElementById('dfs');
    var button_bfs = document.getElementById('bfs');
    var button_greedy = document.getElementById('greedy');
    var button_aestrela = document.getElementById('aestrela');

    var lista_busca_node = [button_dfs, button_bfs, button_greedy, button_aestrela];

    var busca_div = document.getElementById('buscas');
    //var lista_busca_node = busca_div.getElementsByTagName('div');
    var lista_busca_arr = Array.prototype.slice.call(lista_busca_node).map(function(x){return x.id})

    for(var i = 0; i < lista_busca_node.length; i++){
        console.log(lista_busca_node[i], i)
        lista_busca_node[i].setAttribute("number", i);
        lista_busca_node[i].onclick = function(){
            busca_bool = [false, false, false, false];
            busca_bool[this.getAttribute("number")] = true;
            busca_vue.busca = busca_bool;
            number_search = parseInt(this.getAttribute("number"));
        }
    }

    function busca_generica(state){
        switch(number_search){
            case 0: return DFS(state); break;
            case 1: return BFS(state); break;
            case 2: return GREEDY(state); break;
            case 3: return AESTRELA(state); break;
        }
    }

    button_start.onclick = function () {
        if (queue.length == 0) {
            state = new State(state.arr);

            var Resultado = busca_generica(state);
            var time = Resultado.time;
            var Resultado_busca = Resultado.resultado_busca;

            var estado_resultado = Resultado_busca.estado_resultado;
            var logs = Resultado_busca.logs;
            var nos_vis = Resultado_busca.nos_visitados;
            var nos_front = Resultado_busca.nos_fronteira;
            var nos_front_max = Resultado_busca.max_fronteira;
            var nos_ja_visitados = Resultado_busca.ja_visitados;

            var max_prof = Resultado_busca.max_profundidade;
            var name = Resultado_busca.name;

            state = new State(estado_resultado.arr);
            queue = estado_resultado.moves;

            var info =
                `<b>BUSCA</b>: ${name} <br><br>\
                <b>Tempo</b>: ${time/1000} segundos<br><br>\
        Nos colocados na fronteira: ${nos_front}<br><br>\
        Max de Nos na fronteira: ${nos_front_max}<br><br>\
        Nos visitados: ${nos_vis}<br><br>\
        Nos ja visitados: ${nos_ja_visitados}<br><br>\
        Max profundidade: ${max_prof}<br><br>\
        Numero de movimentos: ${queue.length}<br><br>`;

            log1.innerHTML = logs.join('<br>');
            log2.innerHTML = info;
        }
        start();
    };

    button_reset.onclick = function () {
        queue = [];
        [0, 1, 2, 3, 4, 5, 6, 7, 8].map(function (i) {
            var el = SQ.get('' + i);
            el.obj.style = "";
        });

        for (var i = 0; i < 9; i++) {
            num = num_ = arr_inicial[Math.floor(i / 3)][i % 3];
            var add = '';
            if (num == 0) {
                num_ = '';
                add = 'zero';
            }
            obs_vue.itens[i].text = num_ + '';
            obs_vue.itens[i].value = num;
            obs_vue.itens[i].class = 'wid ' + add;
        }
        state = new State(CopyArr(arr_inicial));
        var elem;
        SQ = new Map();
        for (var i = 0; i < 9; i++) {
            elem = document.getElementById("sq_" + i);
            SQ.set(''+obs_vue.itens[i].value, {
                obj: elem,
                left: 0,
                top: 0
            });
            //SQ.push({obj: elem, left: 0, top: 0});
        }

    }
    button_next.onclick = function () {
        if (queue.length == 0) {
            state = new State(state.arr);

            var Resultado = AESTRELA(state);
            var time = Resultado.time;
            var Resultado_busca = Resultado.resultado_busca;

            var estado_resultado = Resultado_busca.estado_resultado;
            var logs = Resultado_busca.logs;
            var nos_vis = Resultado_busca.nos_visitados;
            var nos_front = Resultado_busca.nos_fronteira;
            var max_prof = Resultado_busca.max_profundidade;

            state = new State(estado_resultado.arr);
            queue = estado_resultado.moves;

            var info =
                `<b>Tempo</b>: ${time/1000} segundos<br><br>\
        Nos na fronteira: ${nos_front}<br><br>\
        Nos visitados: ${nos_vis}<br><br>\
        Max profundidade: ${max_prof}<br><br>\
        Numero de movimentos: ${queue.length}<br><br>`;

            log1.innerHTML = logs.join('<br>');
            log2.innerHTML = info;
        }
        start(false);
    }
    var input_grid = document.getElementById("input_grid");
    button_input.onclick = function(){
        input_grid.style.display = 'block';
    }
    
    button_cancel.onclick = function(){
        input_grid.style.display = 'none';
    }

    button_ok.onclick = function(){
        queue = [];
        [0, 1, 2, 3, 4, 5, 6, 7, 8].map(function (i) {
            var el = SQ.get('' + i);
            el.obj.style = "";
        });

        var ins = input_grid.getElementsByTagName('input');

        for(var i = 0; i < ins.length; i++){
            arr_inicial[Math.floor(i/3)][i % 3] = parseInt(ins[i].value);
        }

        for (var i = 0; i < 9; i++) {
            num = num_ = arr_inicial[Math.floor(i / 3)][i % 3];
            var add = '';
            if (num == 0) {
                num_ = '';
                add = 'zero';
            }
            obs_vue.itens[i].text = num_ + '';
            obs_vue.itens[i].value = num;
            obs_vue.itens[i].class = 'wid ' + add;
            
        }
        state = new State(CopyArr(arr_inicial));
        var elem;
        SQ = new Map();
        for (var i = 0; i < 9; i++) {
            elem = document.getElementById("sq_" + i);
            SQ.set(''+obs_vue.itens[i].value, {
                obj: elem,
                left: 0,
                top: 0
            });
        }

        input_grid.style.display = 'none';
    }
    function getDigit(st, m) {
        var neo = sum(m, st.zero);
        if (test_cmp(neo) == false) return -1;
        swap(st, neo, st.zero);
        var num = st.arr[st.zero.x][st.zero.y];
        st.zero = neo;
        return num;
    }

    function move_free(a, b) {
        anim = animationFrame(
            function () {
                move(a, b, code_move, INITIAL_TX, 1, false);
            }
        );
    }

    function move_unit(code_move) {
        var digit = getDigit(state, MOVES[code_move]);
        if (digit == -1) return;
        anim = animationFrame(
            function () {
                move(0, digit, code_move, INITIAL_TX, 1, false);
            }
        );
    }

    document.onkeypress = function (m) {
        var code = -1;
        switch (m.keyCode) {
            case 37:
                code = 3;
                break;
            case 38:
                code = 2;
                break;
            case 39:
                code = 1;
                break;
            case 40:
                code = 0;
                break;
        }
        if(code == -1) return;
        move_unit(code);
    }

    var ins_ = input_grid.getElementsByTagName('input');
    var pat = /^([0-9])+$/g;

    for(var i = 0; i < ins_.length; i++){
        ins_[i].oninput = function(){
            var p = this.value.match(pat);
            if(p == null){
                this.value = '';
            }
        }
    }

    var log1 = document.getElementById("slog1");
    var log2 = document.getElementById("slog2");
</script>

</html>